<div class="container">
</div>
<div>
  <img src="https://conexiones.saviasaludeps.com/savia/resources/images/logo_savia_formulario.png;jsessionid=lWCiKGhG1CLcMIogoHqy5tQ8VyYJI9KZP5hnqqk_.evm-papp04-ama" alt="">
</div>
<br>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">PQR</th>
      <th scope="col">SOLICUTDES TRAMITES</th>
      <th scope="col">PUNTOS  DE ATENCION</th>
      <th scope="col">CORONAVIRUS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th >
        <a href="https://www.saviasaludeps.com/sitioweb/index.php/afiliados/atencion-al-ciudadano/pqrd">Diligencia y gestiona tus peticiones, quejas, reclamos, sugerencias y felicitaciones.</a> </th>
      <td><a href="https://www.saviasaludeps.com/sitioweb/index.php/116-solicitudes-y-tramites">Realiza todas tus solicitudes y trámites sin salir de casa en forma fácil.</a> 
</td>
      <td>
        <a href="https://www.saviasaludeps.com/sitioweb/index.php/afiliados/puntos-de-atencion/savia-salud-eps">Consulta nuestros puntos de Atención al Usuario.
          </a> 
        </td>
      <td>
       <a href="https://www.saviasaludeps.com/sitioweb/index.php/126-noticias-y-comunicados-covid-19-3">Consulta todos los comunicados sobre el COVID-19</a> </td>
    </tr>

  </tbody>
</table>
   

