<div class="container">
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-header">
            Solictar cita
        </div>
        <div class="card-body">
            <form action="ingresarcita" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control" name="cedula" 
                        placeholder="numero de cedula">
                </div>
                <div class="mb-3">
                    <input type="date" class="form-control"  name="fecha"  >
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="numero_contacto" 
                        >
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="ips" 
                        placeholder="Metro salud castilla">
                </div>
                </div>
                <div class="mb-3">
               
                        <button class="form-control btn btn-primary">Guardar</button>
                </div>
                
            </form>
        </div>
    </div>

</div>